*{
	box-sizing: border-box;
}
h1{
	font-size: 3em;
	color:#8B4513;

}

/*grid area*/
header{
	grid-area: header;
	background-color: red;

}
.topnav{
	grid-area: topnav;
}
.content{
	grid-area: content;
}
footer{
	grid-area: footer;
	padding:5px;
	
}
.a1{
	grid-area: aside1;
	border:solid black 1px;
	margin:auto;
	padding:1em;
	
}
.a2{
	grid-area: aside2;
	border:solid black 1px;
	padding:1em;
}
.art{
	grid-area: article;
	
	padding:1em;
	
}

/* grid template area */

body{
	display: grid;
	grid-gap: 0;
	grid-template-areas:
		"header" 
		"topnav"
		"content"
		"footer";
	max-width: 60em;
	margin: 0 auto;
	border:solid black 1px;
	padding:;
	background-color: #EE7A61;

}

h2, h3,h4{
	font-weight: 700;
	font-size: 500;

}

.content{
	display:grid;
	grid-gap: em;
	grid-template-areas:
		"aside1 article aside2";
	grid-template-columns: 1fr 3fr 1fr;

}
.topmenu, footer{
	display:flex;
	flex-flow: row wrap;
	justify-content:space-around;
	list-style-type: none;
	border:solid black 1px;
	margin:0;
	
}
.topmenu li{
	padding:1em;

}

h5{
	float:left;
	margin:auto;
}
blockquote{
	border:solid black 1px;
	padding:1em;
}
main{
	font-size: 15px
}

@media only screen and (max-width: 600px) {
	body {
	  background-color: lightblue;
	}

	main{
		font-size: 10px;
		grid-template-columns: 1fr 4fr 1fr;
	}

	img{ 
		height: auto;
		width: 100%;
	}
		
	}
	footer{
		grid: 10px;
	}

  }